https://archive.ics.uci.edu/ml/datasets/Ozone+Level+Detection

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from keras.layers import *
from keras.models import *
from keras.utils import *
from sklearn.preprocessing import *
from tensorflow.keras.utils import to_categorical

In [2]:
label = ['feat_{}'.format(i) for i in range(74)]
df = pd.read_csv('eighthr.data', names=label)
df

,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_64,feat_65,feat_66,feat_67,feat_68,feat_69,feat_70,feat_71,feat_72,feat_73
0,1/1/1998,0.8,1.8,2.4,2.1,2,2.1,1.5,1.7,1.9,...,0.15,10.67,-1.56,5795,-12.1,17.9,10330,-55,0,0.0
1,1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,...,0.48,8.39,3.84,5805,14.05,29,10275,-55,0,0.0
2,1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,...,0.6,6.94,9.8,5790,17.9,41.3,10235,-40,0,0.0
3,1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,...,0.49,8.73,10.54,5775,31.15,51.7,10195,-40,2.08,0.0
4,1/5/1998,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,...,?,?,?,?,?,?,?,?,0.58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2529,12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,...,0.07,7.93,-4.41,5800,-25.6,21.8,10295,65,0,0.0
2530,12/28/2004,1,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,...,0.04,5.95,-1.14,5845,-19.4,19.1,10310,15,0,0.0
2531,12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,...,0.06,7.8,-0.64,5845,-9.6,35.2,10275,-35,0,0.0
2532,12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1,1.9,...,0.25,7.72,-0.89,5845,-19.6,34.2,10245,-30,0.05,0.0
2533,12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,...,0.54,13.07,9.15,5820,1.95,39.35,10220,-25,0,0.0

In [3]:
df.describe()

           feat_73
count  2534.000000
mean      0.063141
std       0.243265
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2534 entries, 0 to 2533
Data columns (total 74 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   feat_0   2534 non-null   object
 1   feat_1   2534 non-null   object
 2   feat_2   2534 non-null   object
 3   feat_3   2534 non-null   object
 4   feat_4   2534 non-null   object
 5   feat_5   2534 non-null   object
 6   feat_6   2534 non-null   object
 7   feat_7   2534 non-null   object
 8   feat_8   2534 non-null   object
 9   feat_9   2534 non-null   object
 10  feat_10  2534 non-null   object
 11  feat_11  2534 non-null   object
 12  feat_12  2534 non-null   object
 13  feat_13  2534 non-null   object
 14  feat_14  2534 non-null   object
 15  feat_15  2534 non-null   object
 16  feat_16  2534 non-null   object
 17  feat_17  2534 non-null   object
 18  feat_18  2534 non-null   object
 19  feat_19  2534 non-null   object
 20  feat_20  2534 non-null   object
 21  feat_21  2534 non-null   object
 22  feat_22  2534 non-null   object
 23  feat_23  2534 non-null   object
 24  feat_24  2534 non-null   object
 25  feat_25  2534 non-null   object
 26  feat_26  2534 non-null   object
 27  feat_27  2534 non-null   object
 28  feat_28  2534 non-null   object
 29  feat_29  2534 non-null   object
 30  feat_30  2534 non-null   object
 31  feat_31  2534 non-null   object
 32  feat_32  2534 non-null   object
 33  feat_33  2534 non-null   object
 34  feat_34  2534 non-null   object
 35  feat_35  2534 non-null   object
 36  feat_36  2534 non-null   object
 37  feat_37  2534 non-null   object
 38  feat_38  2534 non-null   object
 39  feat_39  2534 non-null   object
 40  feat_40  2534 non-null   object
 41  feat_41  2534 non-null   object
 42  feat_42  2534 non-null   object
 43  feat_43  2534 non-null   object
 44  feat_44  2534 non-null   object
 45  feat_45  2534 non-null   object
 46  feat_46  2534 non-null   object
 47  feat_47  2534 non-null   object
 48  feat_48  2534 non-null   object
 49  feat_49  2534 non-null   object
 50  feat_50  2534 non-null   object
 51  feat_51  2534 non-null   object
 52  feat_52  2534 non-null   object
 53  feat_53  2534 non-null   object
 54  feat_54  2534 non-null   object
 55  feat_55  2534 non-null   object
 56  feat_56  2534 non-null   object
 57  feat_57  2534 non-null   object
 58  feat_58  2534 non-null   object
 59  feat_59  2534 non-null   object
 60  feat_60  2534 non-null   object
 61  feat_61  2534 non-null   object
 62  feat_62  2534 non-null   object
 63  feat_63  2534 non-null   object
 64  feat_64  2534 non-null   object
 65  feat_65  2534 non-null   object
 66  feat_66  2534 non-null   object
 67  feat_67  2534 non-null   object
 68  feat_68  2534 non-null   object
 69  feat_69  2534 non-null   object
 70  feat_70  2534 non-null   object
 71  feat_71  2534 non-null   object
 72  feat_72  2534 non-null   object
 73  feat_73  2534 non-null   float64
dtypes: float64(1), object(73)
memory usage: 1.4+ MB

In [5]:
df = df.apply(pd.to_numeric, errors='coerce')
df = df.drop(['feat_0'], axis=1)
df

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_64,feat_65,feat_66,feat_67,feat_68,feat_69,feat_70,feat_71,feat_72,feat_73
0,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795.0,-12.10,17.90,10330.0,-55.0,0.00,0.0
1,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805.0,14.05,29.00,10275.0,-55.0,0.00,0.0
2,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.60,6.94,9.80,5790.0,17.90,41.30,10235.0,-40.0,0.00,0.0
3,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775.0,31.15,51.70,10195.0,-40.0,2.08,0.0
4,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2529,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,0.07,7.93,-4.41,5800.0,-25.60,21.80,10295.0,65.0,0.00,0.0
2530,1.0,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,0.04,5.95,-1.14,5845.0,-19.40,19.10,10310.0,15.0,0.00,0.0
2531,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,0.06,7.80,-0.64,5845.0,-9.60,35.20,10275.0,-35.0,0.00,0.0
2532,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1.0,1.9,2.0,...,0.25,7.72,-0.89,5845.0,-19.60,34.20,10245.0,-30.0,0.05,0.0
2533,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3.0,...,0.54,13.07,9.15,5820.0,1.95,39.35,10220.0,-25.0,0.00,0.0

In [6]:
df.dropna(inplace=True)

In [7]:
Y = df['feat_73']

In [8]:
Y = to_categorical(Y)

In [9]:
df.drop(['feat_73'], axis=1, inplace=True)

In [10]:
df

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_63,feat_64,feat_65,feat_66,feat_67,feat_68,feat_69,feat_70,feat_71,feat_72
0,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,-15.5,0.15,10.67,-1.56,5795.0,-12.10,17.90,10330.0,-55.0,0.00
1,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,-14.5,0.48,8.39,3.84,5805.0,14.05,29.00,10275.0,-55.0,0.00
2,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,-15.9,0.60,6.94,9.80,5790.0,17.90,41.30,10235.0,-40.0,0.00
3,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,-16.8,0.49,8.73,10.54,5775.0,31.15,51.70,10195.0,-40.0,2.08
6,3.7,3.2,3.8,5.1,6.0,7.0,6.3,6.4,6.3,5.4,...,-11.8,0.84,6.86,25.60,5695.0,26.75,48.45,10040.0,-80.0,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2529,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,-12.4,0.07,7.93,-4.41,5800.0,-25.60,21.80,10295.0,65.0,0.00
2530,1.0,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,-12.0,0.04,5.95,-1.14,5845.0,-19.40,19.10,10310.0,15.0,0.00
2531,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,-11.8,0.06,7.80,-0.64,5845.0,-9.60,35.20,10275.0,-35.0,0.00
2532,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1.0,1.9,2.0,...,-10.8,0.25,7.72,-0.89,5845.0,-19.60,34.20,10245.0,-30.0,0.05
2533,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3.0,...,-11.9,0.54,13.07,9.15,5820.0,1.95,39.35,10220.0,-25.0,0.00

In [11]:
X_train = np.asarray(df[:-100].values.tolist(), dtype=np.float64)
X_test = np.asarray(df[-100:].values.tolist(), dtype=np.float64)

Y_train = Y[:-100]
Y_test = Y[-100:]

print(f"X_train.shape: {X_train.shape}, Y_train.shape: {Y_train.shape}, X_test.shape: {X_test.shape}, Y_test.shape: {Y_test.shape}")

X_train.shape: (1747, 72), Y_train.shape: (1747, 2), X_test.shape: (100, 72), Y_test.shape: (100, 2)

In [ ]:
# (sample, timestep, features) = N x T x D
# X_train, Y_train -> (N x T x D)

### Build a model

In [ ]:
# 정확도 (accurary)